<launch>

  <node name="odom_sync" pkg="turtlebot3_localization" type="odomsync.py">
  </node>
  <node name="command" pkg="turtlebot3_localization" type="command.py"></node>
  <node name="euler_pub" pkg="turtlebot3_localization" type="pub_to_euler.py"></node>
  <node name="trajectory" pkg="turtlebot3_localization" type="trajectory.py"></node>
  <include file="$(find turtlebot3_localization)/launch/start_ekf_localization.launch"></include>

</launch>